@font-face {
    font-family: snakefont;
    src: url("./ressource/snakefont/poisonlovepersonaluse-jevlo-webfont.woff2");
}

input[type=range] {
    width: 100%;
    margin: 6.25px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: rgba(115, 113, 114, 0.3);
    border: 0.1px solid #010101;
    border-radius: 25px;
    width: 100%;
    height: 7.5px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -6.35px;
    width: 20px;
    height: 20px;
    background: #c8dcc8;
    border: 3px solid rgba(0, 0, 30, 0.8);
    border-radius: 13px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #9c9a9b;
  }
  input[type=range]::-moz-range-track {
    background: rgba(115, 113, 114, 0.3);
    border: 0.1px solid #010101;
    border-radius: 25px;
    width: 100%;
    height: 7.5px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #c8dcc8;
    border: 3px solid rgba(0, 0, 30, 0.8);
    border-radius: 13px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 6.25px 0;
    color: transparent;
    width: 100%;
    height: 7.5px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #4a4949;
    border: 0.1px solid #010101;
    border-radius: 50px;
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(115, 113, 114, 0.3);
    border: 0.1px solid #010101;
    border-radius: 50px;
  }
  input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #c8dcc8;
    border: 3px solid rgba(0, 0, 30, 0.8);
    border-radius: 13px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(115, 113, 114, 0.3);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #9c9a9b;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  

body {
    background-color: rgb(138, 180, 148);
}

.container {
    width: 99vw;
    height: 98vh;
    background-color: rgb(138, 180, 148);
    padding: 0px;
    margin: 0px;
}

.gameframe {
    background-color: #c9c9c9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 800px;
    width: 800px;
    border: 15px rgb(54, 54, 54) solid;
    border-radius: 10px;
    display: grid;
}

.field {
    border: 2px rgb(100, 100, 100) solid;
}

.menu {
    position: absolute;
    left: 100px;
    top: 200px;
    height: 480px;
    width: 300px;
    background-color: #c9c9c9;
    border: 10px rgb(54, 54, 54) solid;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    border: 5px rgb(149, 172, 143) solid;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lengthCounter {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin: 0 auto;
    max-height: 75px;
    margin-bottom: 10px;
}

.inputs {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    margin-bottom: 10px;
}

.highscores {
    position: absolute;
    right: 100px;
    top: 200px;
    height: 480px;
    width: 300px;
    background-color: #c9c9c9;
    border: 10px rgb(54, 54, 54) solid;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.highscoreHeader {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin: 0 auto;
}

.highscoreSettings {
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:13px;
    margin: 0 auto;
}

.highscoreFile {
    margin: 0 auto;
}

.downloadScores {
    display: none;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:13px;
    margin: 0 auto;
}

.highscoreElement {
    margin: 0 auto;
    font-weight: 600;
}

.pausedPlayButton {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background: transparent;
  border-style: double;
  border-width: 0px 0 0px 30px;
  border-color: transparent transparent transparent rgb(54, 54, 54);
  margin-left: 25%;
}

.pausedPlayButton:hover {
  border-color: transparent transparent transparent rgb(138, 180, 148);
}

.playbutton {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background: transparent;
    border-width: 15px 0px 15px 30px;
    border-color: transparent transparent transparent rgb(54, 54, 54);
    margin-left: 25%;
}

.playbutton:hover {
    border-color: transparent transparent transparent rgb(138, 180, 148);
}

.credits {
    position: absolute;
    right: 3%;
    bottom: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}

.logo {
    position: absolute;
    top: 7.5%;
    left: 8.5%;
    font-family: snakefont, Verdana;
    font-size: 90px;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  margin-left: 35%;

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

.colorInputFrame {
  margin-left: 25%;
}